*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
.navbar h1{
  font: bold;
  font-size: 15px;
}

.navbar button{
  font-size: 10px;
}

.search-container{
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-evenly;
  background-color: white;
  border-radius: 8px;
}

.search-label{
  display: flex;
  flex-direction: column;
}

.product-list{
  background-color: white;
  border-radius: 15px;
}


table{
  width: 100%;
}

th{
  text-align: left;
}